<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body tabindex="-1">
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/"
          >Lego Collection</a
        >
      </div>

      <div class="navbar-center hidden sm:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a class="active" href="/about">About</a></li>
          <li>
            <details>
              <summary>Theme</summary>
              <ul class="p-2 bg-base-100 right-0">
                <li><a href="/lego/sets?theme=technic">Technic</a></li>
                <li>
                  <a href="/lego/sets/id-demo?theme=classic town">Classic Town</a>
                </li>
                <li>
                  <a href="/lego/sets/theme-demo?theme=supplemental">Supplemental</a>
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>

    <br />

    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About</h1>
            <p class="py-6">
              Everything you want to know about me - a developer.
            </p>
          </div>
        </div>
      </div>

      <br />

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 mt-8">
        <div class="w-full">
          <img class="w-full h-96 rounded-lg" src="https://www.vmcdn.ca/f/files/newmarkettoday/images/education/2020-09-26-seneca-college.jpg;w=960" />
        </div>
        <div class="w-full">
          <p class="prose">
            I am Rahimullah, and I am currently a student at Seneca Polytechnic. I have a strong passion for seeking out new experiences that can broaden my perspective and enrich my life. I am committed to my education and self-improvement in the CPA course, and I see every new opportunity as a chance for personal growth. I thrive on embracing new experiences, both in my academic journey and in my personal life, as they provide me with valuable insights and help me evolve as an individual. I constantly seek ways to expand my knowledge and understanding of the world, whether through my CPA studies or my personal endeavors. My dedication to personal growth and my open-minded approach to life drive me to make the most of every opportunity.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>